<div class="main blogss-show">
  <div class="container">
    <div class="blogs-show-item">
      <p>
        <%= @blog.title %>
      </p>
      <p>
        <%= @blog.id %>
      </p>      
      <p>
        <%= @blog.content %>
      </p>       
      <div class="blog-time">
        <%= @blog.created_at %>
      </div>
    </div>
    <% if @blog.user_id == @current_user.id %>
        <div class="blog-menus">
          <%= link_to("編集", "/blogs/#{@blog.id}/edit") %>
          <%= link_to("削除", "/blogs/#{@blog.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    <div class="comment-output">
      <% @comments.each do |comment| %>
      <%= comment.user_id %>
      <%= comment.comment %>
      <% end %>
    </div>
    <div class="comment-input">
        <%= form_tag("/comments/create") do %>
          <p>Comment</p>
          <input type="text" name="comment">
          <input type="hidden" name="blog_id" value="<%= @blog.user_id %>" >
          <input type="submit" value="コメントする">
          
        <% end %>
    </div>
  </div>
</div>