<div class="main setup-menu">
    <div class="container">
        <ul class="setup-menu-item">
            <li><%= link_to("パスワード変更","") %></li>
            <li><%= link_to("メールアドレス変更","") %></li>
            <li><%= link_to("ブログ公開範囲設定","") %></li>
            <li><%= link_to("コメント表示設定","") %></li>
            <li><%= link_to("ブロックリスト","") %></li>
            <li><%= link_to("ログアウト","/users/logout",{method: :post}) %></li>
        </ul>
    </div>
</div>