<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.nickname %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <% if @user.id != @current_user.id %>
        <% if Friend.find_by(follower: @current_user.id, followed: @user.id) %>
         <% if Friend.find_by(follower: @user.id, followed: @current_user.id) %>
          <%= "もうお友達" %>
          <%= link_to("チャットするよ", "/chats/#{@user.id}") %>
         <% else %>
          <%= "承認待ち" %>
         <% end %>
        <% else %>
          <% if Friend.find_by(follower: @user.id, followed: @current_user.id) %>
           <%= link_to("承認する", "/friends/#{@user.id}/accept", :method => "post") %>
          <% else %>
           <%= link_to("申請する", "/friends/#{@user.id}/create", :method => "post") %>
          <% end %>
         <% end %>
    <% end %>
    
    <%= link_to("友達一覧へ", "/friends/#{@user.id}/index") %>

    <%= link_to("ブログ一覧へ", "/blogs/#{@user.id}/index") %>

    
  </div>
</div>