<div class="main events-new">
  <div class="container">
    <h1 class="form-heading">イベントを作成</h1>
    <%= form_for @event, url: events_create_path, :html => { multipart: true } do |e| %>
    <div class="form">
      <div class="form-body">
          <div class="form-title">
               <%= e.label :"イベント名*" %>
               <%= e.text_field :title, :class => "event-title-form", required: true %>
          </div>
          <div class="form-content">
               <%= e.label :"内容*" %>
               <%= e.text_area :content, :class => "event-content-form", required: true %>
          </div>
          <div class="form-target">
               <%= e.label :"対象者*" %>
               <%= e.text_field :target, :class => "event-target-form", required: true %>
          </div>
          <div class="form-date">
               <%= e.label :"日程*" %>
               <%= e.date_field :event_date, :class => "event-date-form", required: true %>
          </div>
          <div class="form-place">
               <%= e.label :"開催場所*" %>
               <%= e.text_field :place, :class => "event-place-form", required: true %>
          </div>
          <div class="form-start">
               <%= e.label :"開始時間*" %>
               <%= e.time_field :event_start, :class => "event-start-form", required: true %>
          </div>
          <div class="form-price">
               <%= e.label :"料金*" %>
               <%= e.number_field :price, min:0 ,:class => "event-price-form", required: true %>円
          </div>
          <div class="form-pic">
               <%= e.label :"画像" %>
               <ul>
                 <li>ファイル複数選択：<%= file_field_tag "images[]", type: :file, multiple: true, :class => "event-pic-form" %></li>
               </ul>
          </div>
          <div class="actions">
              <%= e.submit "作成する", :class => "event-form-btn" %>
          </div>
      </div>
     </div>
    <% end %>
  </div>
</div>


